h1, h2, h3 {
    font-family: 'Cabin Sketch', cursive;
}
body {
    /* image credit: https://signspecialist.com/decals/beevault/pa */
    background-image: url("../images/Computers%20024-0222.gif");
    color: #660066;
}
